.popover {
  @include light-text;

  a {
    color: inherit;
  }

  &[class*=tour-] {
    .popover-navigation {
      & > .btn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
