.popover {
  @include light-text;

  a {
    color: inherit;
  }

  &[class*=tour-] {
    .btn {
      outline: none;
    }
    .popover-navigation {

      .btn-group {
        margin-bottom: 5px;
        display: block;
        @include clearfix;

        .btn {
          width: 100%;
          @include button-variant(#fff, $primary-colour, $grey);
          @media (min-width: $screen-sm-min) {
            width: 50%;
          }
        }
      }

      & > .btn {
        position: absolute;
        top: 5px;
        right: 5px;
        color: $dark-grey;
        width: 30px;
        height: 30px;
        overflow: hidden;
        padding: 6px;
        line-height: 20px;
        border: none;

        &:before {
          content: '×';
          color: #fff;
          display: block;
          font-weight: bold;
          font-size: 30px;
        }
      }
    }
  }
}
