// Import Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Import OpenSpening styles
@import "osbs/os";

// Import holding page styles
@import "next";

// Import home page styles
@import "home";

// Import style-guide
@import "style-guide";
